extends layout

block content
  
  if message.length>0
    p #{message}

  form(name="login", method="post", action='/login')
        div.input
            span.label Email
            input(type="text", name="email")
        div.input
            span.label Password
            input(type="password", name="password")
        div.actions
            input(type="submit", value="Login")

